<!doctype html>
<header class="header">
  <ul class="head">
    <li><%= link_to "Heroes", heros_path %></li>
    <li><%= link_to "Villains", villains_path %></li>
    <li><%= link_to "Battles", battles_path %></li>
  </ul>
</header>

<div class="info">
  <img id="jumbo" src="http://vaughanknight.com/wp-content/plugins/street-fighter-iv-anime-wallpaper.jpg" alt="">
  <h1>Welcome to Battle Tracker!</h1>
  <br />
  <p>Use this service to keep track of battles between your favorite heroes and villains!</p>
</div>
